html
  font-size: 10px
body
  font-family: $main-font
  font-weight: 500
  color: $main-color
  font-size: 1.4rem
a
  color: #fff
  font-family: $alt-font
  font-weight: 700
  text-decoration: none
  font-size: 1.4rem
  &:hover
	  text-decoration: none
hr
  margin-top: 20px
  margin-bottom: 20px
  border: 0
img
  width: 100%
  max-width: 400px
  height: auto