/***********************COLORS & FONTS***********************/
$main-font: "Lato", Helvetica, sans-serif
$alt-font: "Raleway", Helvetica, sans-serif
$main-color: #000
$orange: #cc6733
$gray: #505864
$orangeWhite: #ffc107